<div class='col-md-6'>
  <div class='well'>

    <!-- WRITE THE CORRECT FORM HEADER AND BLOCK USING ERB -->
    
    <input type="hidden" name="comic__id" value= <%= @comic.id %> >
    <div class="form-group">
      <!-- DISPLAY A TITLE LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="title">Title:</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter title here">
    </div>
    <div class="form-group">
      <!-- DISPLAY A DESCRIPTION LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="description">Description:</label>
      <input type="text" name="description" class="form-control" id="description" placeholder="Enter description here">
    </div>
    <div class="form-group">
      <!-- DISPLAY AN IMAGE LABEL -->
      <!-- DISPLAY A TEXT FIELD ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="image">Image:</label>
      <input type="text" name="image" class="form-control" id="image" placeholder="Enter image link here">
    </div>
    <div class="actions">
      <!-- DISPLAY A SUBMIT BUTTON WITH A CLASS OF 'btn btn-primary' -->
      <button type="submit" class="btn btn-default">Save</button>
    </div>

  

  </div>
</div>
